.flex-box{
    display:flex;
    gap:12px;
    padding: 0px 393px;
    width:70%;
  
   
}
.flex-text{

    background-color: #f1f1f1 !important;
}
h2{
    font-size: 24px;
    margin:3px 13px;
    font-weight: bold;
   
}
h3{
font-size:18px; 
margin:3px 13px;

 
}
